.card.card-statistic-2 .card-body {
    padding-top: 20px;
    padding-bottom: 20px;
    /* align-content: center; */
}

.media-body {
    -ms-flex: 1;
    flex: 1;
    margin-top: 15px;
}

.main-content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    width: 100%;
    position: relative;
}
.navbar {
    height: 70px;
    left: 0px;
    right: 5px;
    position: absolute;
    z-index: 890;
    background-color: transparent;
}


.lokasi {
    font-size: 12px;
    font-weight: 100;
    line-height: 14px;
}

/* scan qr */
.dropzone {
    border: 2px dashed #6777ef;
    min-height: 10px;
    text-align: center;
}
.dropzone .dz-message {
    font-size: 14px;
    color: #34395e;
    margin: 25px;
}
.dropzone .dz-message > input[type=file] {
    position:absolute; 
    overflow:hidden; 
    width:1px; 
    height:1px; 
    opacity:0
}